.bg {
  position: fixed;
  inset: 0;
  background-color: #000000fb;

  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.276) 1px,
    transparent 1px
  );

  background-size: 200px 60px;

  /* 👇 THIS is the important fix */
  background-position: calc(50% - 100px) calc(50% - 30px);

  z-index: -1;
}
